@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --border: #eee;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
    border-color: var(--border);
    outline-color: var(--border);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ddd;
        --border: #333;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--foreground);
    border-radius: 10px;
}
